<div class="container-fluid">
  <div class="row">
    <h3>Bars</h3>
    <div ng-repeat="bar in bars" class="sa-bar-out col-md-6">

      <div class="sa-bar">
        <div class="sa-bar-title">{{bar.name}}</div>
        <div class="sa-bar-add">{{bar.location.address}}</div>
        <div class="sa-bar-tags">
          <span class="badge sa-bar-tag" ng-repeat="tag in bar.tags">{{tag | lowercase}}</span>
        </div>
        <button ng-click="removeBar(bar)" class="btn btn-danger btn-sm pull-right">
          <span class="glyphicon glyphicon-remove"></span> Remove
        </button>
        <button ui-sref="superadmin.changeadmins({id:bar._id})" class="btn btn-primary btn-sm pull-right">
          <span class="glyphicon glyphicon-pencil"></span>
        </button>
      </div>

    </div>

    <div class="sa-bar-out col-md-6">
      <div class="sa-bar-new" ui-sref="superadmin.createBar">
        <span class="glyphicon glyphicon-plus"></span> Create new bar
      </div>
    </div>
  </div>
</div>
