<div class="container-fluid">
  <div class="row">
    <h3>Bars</h3>

    <accordion close-others="true">
      <accordion-group heading="Search by name">
        <form ng-submit="searchName()"class="col-md-6">
          <div class="form-group">
            <label class="control-label" for="searchName">Enter bar's name</label>
            <input class="form-control" id="searchName" type="text" placeholder="Bar's name">

          </div>
          <div class="form-group">
            <button type="submit" class="col-md-2 btn btn-primary">
              <span class="glyphicon glyphicon-search"></span> Search
            </button>
          </div>
        </form>
      </accordion-group>
      <accordion-group heading="Search by tags">
        Ovdje ide pretrazivanje po tagovima
      </accordion-group>
      <accordion-group heading="Search near bar">
        Ovdje ide pretrazivanje barova u blizini neke lokacije
      </accordion-group>
    </accordion>

    <div ng-repeat="bar in bars" class="sa-bar-out col-md-6">

      <div class="sa-bar">
        <div class="sa-bar-title">{{bar.name}}</div>
        <div class="sa-bar-add">{{bar.location.address}}</div>
        <div class="sa-bar-tags">
          <span class="badge sa-bar-tag" ng-repeat="tag in bar.tags">{{tag | lowercase}}</span>
        </div>
      </br>
      <button class="btn btn-primary btn-md" ng-click="go('bars.details', {id:bar._id})" translate="BAR.LIST.DETAILS"></button>
      </div>

    </div>
  </div>
</div>
