<div class="container-fluid">
  <div class="row">
    <h3>Bars</h3>

    <accordion close-others="true">
      <accordion-group heading="Search by name">
        <form ng-submit="searchName()"class="col-md-6">
          <div class="form-group">
            <label class="control-label" for="searchName">Enter bar's name</label>
            <input class="form-control" id="searchName" type="text" placeholder="Bar's name" ng-model="search.name">
          </div>
          <div class="form-group">
            <button type="submit" class="col-md-2 btn btn-primary">
              <span class="glyphicon glyphicon-search"></span> Search
            </button>
          </div>
        </form>
      </accordion-group>
      <accordion-group heading="Search by tags">
        <form ng-submit="searchTags()"class="col-md-6">
          <div class="form-group">
            <label class="control-label" for="searchName">Enter tags you want search</label>
            <input class="form-control" id="searchName" type="text"
            placeholder="Tags separated by space" ng-model="search.tags">
          </div>
          <div class="form-group">
            <button type="submit" class="col-md-2 btn btn-primary">
              <span class="glyphicon glyphicon-search"></span> Search
            </button>
          </div>
        </form>
      </accordion-group>
      <accordion-group heading="Search near bar">
        <form ng-submit="searchNear()"class="col-md-6">
          <div class="form-group">
            <label class="control-label" for="longitude">Enter longitude</label>
            <input type="number" step="any" class="form-control" ng-model="search.longitude"
                id="longitude" name="longitude" placeholder="Longitude">
          </div>
          <div class="form-group">
            <label class="control-label" for="latitude">Enter latitude</label>
            <input type="number" step="any" class="form-control" ng-model="search.latitude"
                id="latitude" name="latitude" placeholder="Latitude">
          </div>
          <div class="form-group">
            <button type="submit" class="col-md-2 btn btn-primary">
              <span class="glyphicon glyphicon-search"></span> Search
            </button>
          </div>
        </form>
        <div  class="col-lg-12" >
          <ui-gmap-google-map center='map.center' zoom='map.zoom'>
            <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
            </ui-gmap-marker>
          </ui-gmap-google-map>
          </div>
      </accordion-group>
    </accordion>

    <div ng-repeat="bar in bars" class="sa-bar-out col-md-6">

      <div class="sa-bar">
        <div class="sa-bar-title">{{bar.name}}</div>
        <div class="sa-bar-add">{{bar.location.address}}</div>
        <div class="sa-bar-tags">
          <span class="badge sa-bar-tag" ng-repeat="tag in bar.tags">{{tag | lowercase}}</span>
        </div>
      </br>
      <button class="btn btn-primary btn-md" ng-click="go('bars.details', {id:bar._id})" translate="BAR.LIST.DETAILS"></button>
      </div>

    </div>
  </div>
</div>
