
<div class="container-fluid">
  <div class="row">

        <div class="det-bar" ng-if="isAdmin()">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-6 btn-options" ui-sref="bars.change({id:bar._id})">
                <span class="glyphicon glyphicon-pencil"></span> Edit bar
              </div>
              <div class="col-sm-6 btn-options">
                <span class="glyphicon glyphicon-plus"></span> Write post
              </div>
            </div>
          </div>
        </div>

        <div class="det-bar">

          <header>
            <div class="det-bar-title">{{bar.name}}</div>
            <div class="det-bar-add">{{bar.location.address}}</div>
            <div ng-click="showMap = !showMap" ng-show="bar.location && bar.location.geo" class="det-bar-geo">
            </br>
            <span class="glyphicon glyphicon-map-marker"></span>
            <span ng-show="!showMap" translate="BAR.DET.SHOW_MAP">Show on the map</span>
            <span ng-show="showMap" translate="BAR.DET.CLOSE_MAP">Close the map</span>
            </div>
            <div ng-if="showMap" class="det-bar-map">
              <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
                </ui-gmap-marker>
              </ui-gmap-google-map>
              </div>
          </header>

          <div ng-if="bar.description" class="div-bar-prop-group">
            <header>Description</header>
            <div>{{bar.description}}</div>
          </div>

          <div ng-if="bar.phone" class="div-bar-prop-group">
            <header>Phone</header>
            <div>{{bar.phone}}</div>
          </div>

          <div ng-if="bar.tags && bar.tags.length > 0" class="div-bar-prop-group">
            <header>Tags</header>
            <div>
              <span class="badge det-bar-tag" ng-repeat="tag in bar.tags">{{tag | lowercase}}</span>
            </div>
          </div>

        </div>

  </div>
</div>
